body {
    margin: 1.3rem 1.5rem 2rem;
    background-color: rgb(0, 82, 78);
    --default-color: gainsboro;
    color: var(--default-color);
}

body, button {
    font-family: Verdana;
}

h1 {
    color: rgb(239, 193, 67);
    font-size: 3rem;
    /* Remove default margins. */
    margin: 0;
}

h2 {
    font-size: 1.6rem;
    /* Can put bottom margin on this instead of a top margin for both home and section content. */
    margin: 1.2rem 0 0.5rem;
}

h1, h2 {
    font-family: Georgia;
}

h3 {
    font-size: 1.2rem;
}

h1, h2, h3, h4 {
    text-align: center;
}

button {
    font-size: 1rem;
}

#section-btns-div {
    max-width: 55rem;
    margin: 1.1rem auto 0;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    flex-wrap: wrap;
}

#section-btns-div > button {
    background-color: rgb(16, 0, 105);
    color: white;
    padding: 0.8rem;
}

#section-btns-div > button:hover {
    color: greenyellow;
    cursor: pointer;
}

a {
    color: #90c2ff;
}

summary {
    font-size: 1.15rem;
    width: max-content;
    margin: 0 auto 0.6rem;
}

h3, h4, p, .narrow-text-div, ol:not(.answer-normal-ol) {
    max-width: 40rem;
}

/* Since h3s and h4s get a max width, they need this rule as well to have a center alignment. */
h3, h4, p, ol, table, .narrow-text-div {
    margin: 0 auto;
}

table {
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 0.4rem 0.7rem;
}

table, th, td {
    border: 0.15rem solid var(--default-color);
}

.non-answer-info-div > :not(:first-child) {
    margin-top: 0.8rem;
}

/*
.div-with-p-and-ol is used for divs with at least 1 p and an ol that relates to the p(s) and is used for the
second child of home-content-div and the first child of the ancient Egyptian multiplication info div.
*/
.non-answer-info-div > .div-with-p-and-ol > :not(:first-child) {
    margin-top: 0.3rem;
}

.div-with-p-and-ol li:not(:first-child) {
    margin-top: 0.2rem;
}

/* For other divs within a non-answer-info-div, the first child is a heading. */

.non-answer-info-div > div > :nth-child(2) {
    margin-top: 0.3rem;
}

.non-answer-info-div > div > :nth-child(n + 3) {
    margin-top: 0.8rem;
}

/*
Some things that this rule does:
1. Make the section directions appear 0.8 rem below the section info details summary element when that details
   element is closed.
2. Make the section info div appear 0.8 rem below the details summary element when that details element is open.
*/
#section-content-div > :nth-child(n + 3):not(#answer-div) {
    margin-top: 0.8rem;
}

#divis-rules-example-p {
    margin-top: 0.2rem;
}

/* Spacing between section info and directions. */
#section-info-div {
    margin-bottom: 1.5rem;
}


#input-div-div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.input-div {
    display: grid;
    gap: 0.3rem;
}

.input-div > .text-field {
    margin: auto;
    /* Make a little wider than "1,000,000,000,000,000" (1 quadrillion), the largest max input. */
    width: 9rem;
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
}

.input-div > .randomize-btn {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: auto;
}

.input-div > .plus-btn {
    grid-column: 1;
    grid-row: 3;
    margin-left: auto;
}

.input-div > .minus-btn {
    grid-column: 2;
    grid-row: 3;
    margin-right: auto;
}

#calculate-btn {
    display: block;
    margin: auto;
}


#answer-div {
    margin-top: 1.2rem;
    
    /*
    Put min height for 2 reasons:
    1. A user can scroll to the bottom when the answer div is empty and generate an answer and then will
       probably be able to see the whole answer without having to scroll down.
    2. After generating an answer, the user can generate another answer and if the content for that answer takes
       up less vertical space, the page probably won't get smaller.
    */
    min-height: 25rem;
}

#answer-div > div:not(#two-square-theorem-answer-div, #fibo-like-sequence-ratios-div, #ancient-mult-table-div) {
    margin-top: 0.7rem;
}

#invalid-input-div {
    text-align: center;
}

.non-bold-answer-h3 {
    font-weight: normal;
}

#answer-div h4 {
    margin-bottom: 0.4rem;
}

/* For GCD and LCM PFs info, Pythagorean triples, and Fibonacci-like sequence ratios info. */
.answer-normal-ol {
    width: max-content;
}

.answer-normal-ol:not(#gcd-and-lcm-pf-answer-ol) {
    margin-top: 0.4rem;
}

.answer-normal-ol > li:not(:first-child) {
    margin-top: 0.3rem;
}

/*
For primes, twin prime pairs, divisibility info factors and PFs, Goldbach Conjecture prime pairs,
and Fibonacci-like sequence numbers.
*/
.answer-flex-ol {
    margin-top: 0.9rem;
    display: flex;
    justify-content: center;
    --answer-flex-ol-row-gap: 0.8rem;
    gap: var(--answer-flex-ol-row-gap) 1.3rem;
    flex-wrap: wrap;
}

.answer-normal-ol:not(#pythag-triples-ol), .answer-flex-ol {
    list-style-type: none;
    padding: 0;
}

#pf-section-pf-span {
    display: block;
}

#pf-section-pf-span, #two-square-theorem-answer-div {
    margin-top: 0.3rem;
    text-align: center;
}

#divis-answer-factors-ol {
    margin-top: var(--answer-flex-ol-row-gap);
}

.gcd-message-div {
    text-align: center;
}

.euclidean-example-table, #euclidean-answer-table, .gcd-message-div {
    margin-top: 0.5rem;
}

#fibo-like-sequence-ratios-div {
    margin-top: 1.1rem;
}

/* The ratio is the last part of the text in each li in this ol. Align them. */
#fibo-like-sequence-ratios-div > ol {
    text-align: right;
}

#ancient-mult-table-div {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    flex-wrap: wrap;
}

#ancient-mult-table-div > table {
    /* Margin needs to be this to make tables always be 1.4 rem from each other when they're in 1 row. */
    margin: 0;
    
    /* Prevent the shorter table from expanding to be the same height as the taller one. */
    height: max-content;
}

#ancient-mult-table-div th {
    width: 10rem;
}

