body {
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(0, 82, 78);
    --default-color: gainsboro;
    color: var(--default-color);
}

body, button {
    font-family: Verdana;
}

h1, h2 {
    font-family: Georgia;
}

h1 {
    color: rgb(239, 193, 67);
    font-size: 3rem;
    /* Remove default margins. */
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    /* margin: 1rem auto; */
    font-size: 1.3rem;
}

h4 {
    margin-top: 0;
    margin-bottom: 0.3rem;
    /* margin: 0.5rem auto; */
}

button {
    font-size: 1rem;
}

summary {
    font-size: 1.2rem;
}

ol {
    list-style-type: none;
    padding: 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 0.15rem solid var(--default-color);
}

th, td {
    padding: 0.5rem;
}

h1, h2, h3, h4, summary, table, .centeredPfSpan, .gcdMessageDiv {
    text-align: center;
}

h3, p, .narrowTextDiv, #ancientMultStepsOl, .answerFlexOl {
    max-width: 40rem;
}

/* Since h3s get a max width, they need this rule as well. */
h3, p, ol, table, .narrowTextDiv {
    margin: 0 auto;
}


#sectionBtnsDiv {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

#sectionBtnsDiv > button {
    background-color: rgb(16, 0, 105);
    color: white;
    padding: 0.8rem;
}

#sectionBtnsDiv > button:hover {
    color: greenyellow;
    cursor: pointer;
}


#inputDivDiv {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.inputDiv {
    display: grid;
    gap: 0.1rem;
}

.inputDiv > .inputField {
    margin: auto;
    width: 9rem;
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
}

.inputDiv > .randomizeBtn {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: auto;
}

.inputDiv > .plusBtn {
    grid-column: 1;
    grid-row: 3;
    margin-left: auto;
}

.inputDiv > .minusBtn {
    grid-column: 2;
    grid-row: 3;
    margin-right: auto;
}


#calculateBtn {
    display: block;
    margin: auto;
}


#sectionContentDiv > :not(:first-child), #sectionInfoDiv {
    margin-top: 1rem;
}

#sectionInfoDiv {
    margin-bottom: 3rem;
}

.nonAnswerInfoDiv > :not(:first-child) {
    margin-top: 1rem;
}

/*
For divs within a nonAnswerInfoDiv, the 1st child is a heading.
*/

.nonAnswerInfoDiv > div > :nth-child(2) {
    margin-top: 0.3rem;
}

.nonAnswerInfoDiv > div > :nth-child(n + 3) {
    margin-top: 0.8rem;
}

/*
The answer div is a direct child of the section content div but we must put both IDs in this selector to give it
higher specificity than the "#sectionContentDiv > :not(:first-child)" selector.
*/
#sectionContentDiv > #answerDiv {
    margin-top: 2rem;
}


.nonBoldAnswerH3 {
    margin-bottom: 1rem;
    font-weight: normal;
}

#answerDiv > div {
    margin-top: 1rem;
}

/* For GCD and LCM PFs info, Pythagorean triples, and Fibonacci-like sequence ratios info. */
.answerNormalOl {
    width: max-content;
}

/*
For primes, twin prime pairs, divisibility info factors and PFs, Goldbach Conjecture prime pairs,
and Fibonacci-like sequence numbers.
*/
.answerFlexOl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.centeredPfSpan {
    display: block;
}

#divisAnswerFactorsOl {
    margin-top: 0.5rem;
}

.euclideanExampleTable, .gcdMessageDiv {
    margin-top: 0.5rem;
}

/*
Fibonacci-like sequence ratios divs will always be a direct child of the answer div but we must include both IDs
in this selector to give it higher specificity than the "#answerDiv > div" selector.
*/
#answerDiv > #fiboLikeSequenceRatiosDiv {
    margin-top: 1.5rem;
}

/* The ratio is the last part of the text in each li in this ol. Align them. */
#fiboLikeSequenceRatiosDiv > ol {
    text-align: right;
}

#pythagTriplesOl, #ancientMultStepsOl {
    list-style-type: decimal;
    padding: revert;
}

#ancientMultTableDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

#ancientMultTableDiv > table {
    margin: 0;
    height: max-content;
}

#ancientMultTableDiv th {
    width: 10rem;
}
