body {
    width: 90%;
    margin: auto;
    background-color: rgb(0, 82, 78);
    color: gainsboro;
    font-family: serif;
}

h1, h2, h3, h4, summary {
    text-align: center;
}

h1 {
    color: rgb(255, 214, 81);
    font-size: 3rem;
    margin: 1rem auto;
}

h2 {
    margin: 1rem auto;
    color: skyblue;
    font-size: 1.5rem;
}

h3 {
    margin: 1rem auto;
    font-size: 1.3rem;
}

h4 {
    margin: 0.5rem auto;
}

p, ol {
    max-width: 40rem;
    margin: 0 auto;
}

ol {
    list-style-type: none;
    padding: 0rem;
}

a {
    color: aqua;
}

button {
    font-size: 1rem;
}

table {
    margin: 0 auto;
    text-align: center;
    --border-style: 2px solid black;
    border: var(--border-style);
    border-collapse: collapse;
}

th {    
    width: 10rem;
    border: var(--border-style);
}

td {
    border: var(--border-style);
}

#sectionBtns {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

#sectionBtns > button {
    background-color: rgb(19, 0, 126);
    outline-style: none;
    color: white;
    min-width: 5rem;
    min-height: 3rem;
}

#sectionBtns > button:hover {
    color: greenyellow;
    cursor: pointer;
}

#sectionContentDiv > :nth-child(n + 2), #sectionInfoDiv {
    margin-top: 1rem;
}

#sectionContentDiv > #answerDiv {
    margin-top: 2rem;
}

/* Spacing between section info paragraphs */
.nonAnswerInfoDiv > :nth-child(n + 2) {
    margin-top: 1rem;
}

#sectionInfoDiv > :last-child {
    margin-bottom: 3rem;
}

#inputDivDiv {
    display: flex;
}

.inputDiv {
    display: grid;
    gap: 0.1rem;
}

.inputDiv > .inputField {
    margin: auto;
    width: 7rem;
    grid-column: 1 / 3;
    grid-row: 1;
}

.inputDiv > .randomizeBtn {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: auto;
}

.inputDiv > .plusBtn {
    grid-column: 1;
    grid-row: 3;
    margin-right: 0;
    margin-left: auto;
}

.inputDiv > .minusBtn {
    grid-column: 2;
    grid-row: 3;
    margin-left: 0;
    margin-right: auto;
}

#onlyInputDiv {
    margin-left: auto;
    margin-right: auto;
}

#leftInputDiv {
    margin-right: min(1rem, 1%);
    margin-left: auto;
}

#rightInputDiv {
    margin-left: min(1rem, 1%);
    margin-right: auto;
}

#calculateBtn {
    display: block;
    margin: auto;
}
    margin: 1rem auto;
}

.answerList {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#answerArea p {
    margin: 1rem auto;
}

#sectionInfo > ol {
    margin: 0.5rem auto;
    list-style-type: decimal;
    padding: revert;
}

/* Prime factorization span in the prime factorization section */
#answerArea > .pfSpan {
    display: block;
    width: max-content;
    margin: 0 auto;
}

#egyptMultTableContainer {
    display: flex;
    flex-wrap: wrap;
}
