doctype html
html(lang='en-US')
    head
        title Number Theory Playground
        meta(charset='utf-8')
        link(rel='stylesheet' href='styles.css')
        script(src='webpageScript.js' defer)
    body
        h1#mainHeading Number Theory Playground
        nav#sectionBtns
            button#homeBtn Home
            button#primesBtn Prime Numbers
            button#twinPrimesBtn Twin Primes
            button#pfBtn Prime Factorization
            button#divisBtn Divisibility
            button#gcdLcmBtn GCD and LCM
            button#goldbachBtn Goldbach Conjecture
            button#pythagBtn Pythagorean Triples
            button#twoSquareBtn Two Square Theorem
            button#fiboSeqBtn Fibonacci-Like Sequences
            button#egyptMultBtn Ancient Egyptian Multiplication
        h2#sectionHeading
        #sectionInfo
        
        #interactionContent(data-input-areas-visible='0')
            p#sectionDirections
            #inputAreaContainer
                div#inputArea1.inputArea
                    input#inputBox1(type='number')
                    button#randomBtn1 Randomize
                    button#incrementBtn1 +
                    button#decrementBtn1 -
                div#inputArea2.inputArea
                    input#inputBox2(type='number')
                    button#randomBtn2 Randomize
                    button#incrementBtn2 +
                    button#decrementBtn2 -

            button#calculateBtn(type='button') Calculate
                //- input#calculateBtn(type='submit' value='submit')

            #answerArea